<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="ru">

<head>
    <div th:replace="fragments/headers/head :: head"></div>
</head>
<div class="d-flex flex-row"
     th:fragment="cardsmain">
    <div class="align-items-start justify-content-around m-2 d-flex flex-column"
         style="
         padding-left: 3%;
         min-width: content-box;
         ">
        <ul class="d-flex flex-row list-unstyled mb-2">
            <li class="me-2">
                <div th:replace="fragments/cards/latishcard :: latishcard"></div>
            </li>
            <li class="me-2">
                <div th:replace="fragments/cards/latishcard :: latishcard"></div>
            </li>
            <li class="me-2">
                <div th:replace="fragments/cards/sweetcreamcard :: sweetcreamcard"></div>
            </li>
            <li class="me-2">
                <div th:replace="fragments/cards/goldengrushacard :: goldengrushacard"></div>
            </li>
            <li class="me-2">
                <div th:replace="fragments/cards/goldengrushacard :: goldengrushacard"></div>
            </li>
            <li class="me-2">
                <div th:replace="fragments/cards/goldengrushacard :: goldengrushacard"></div>
            </li>
        </ul>

        <ul class="d-flex flex-row list-unstyled mb-2">
            <li class="me-2">
                <div th:replace="fragments/cards/chocolatekapelkacard :: chocolatekapelkacard"></div>
            </li>
            <li class="me-2">
                <div th:replace="fragments/cards/nastyaminicard :: nastyaminicard"></div>
            </li>
            <li class="me-2">
                <div th:replace="fragments/cards/yellowgorshcard :: yellowgorshcard"></div>
            </li>
            <li class="me-2">
                <div th:replace="fragments/cards/littleheartbreakercard :: littleheartbreakercard"></div>
            </li>
            <li class="me-2">
                <div th:replace="fragments/cards/yellowgorshcard :: yellowgorshcard"></div>
            </li>
            <li class="me-2">
                <div th:replace="fragments/cards/littleheartbreakercard :: littleheartbreakercard"></div>
            </li>
        </ul>
    </div>
</div>
</html>