<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="ru">


<div th:replace="fragments/headers/head :: head"></div>

<div class="d-flex flex-row mb-2"
     th:fragment="cardstats">

    <img id="mainImage"
         th:src="@{'data:image/jpg;base64,
                    '+${element.photos.get(0).getImageDataBase64()}}"
         class="img-fluid main-image"
         alt="Tomato"
         style="width: 27rem;
         padding-top: 2vh;
         object-fit: cover;
         height: 27rem"
         onclick="openModal(this.src)">

    <div class="flex-column"
         style="margin-left: 1vw;
                         margin-top: 7vh;
                         max-height: 12rem">
        <div><strong>Наличие: [[${element.isPresent}]]</strong></div>
        <div><strong><br/>Тип: </strong>[[${element.category}]]</div>
        <div><strong><br/>Высота: </strong>[[${element.tomatoesHeight}]]</div>
        <div><strong><br/>Диаметр: </strong>[[${element.tomatoesDiameter}]]</div>
        <div><strong><br/>Вес: </strong>[[${element.tomatoesFruit}]]</div>
        <div><strong><br/>Кашпо: </strong>[[${element.tomatoesFlowerpot}]]</div>
    </div>

</div>
</html>