a {
    text-decoration: none;
}

html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;

}

.card-main{
    width: 18rem;
    min-height: 25rem;
    color:  #044726;
    box-shadow: 0 0 3px 1px #467a53;
}

.container {
    min-width: 99vw;
}

.me-10 {
    margin-right: 8vw;
}
.me-8 {
    margin-right: 5.2rem;
}

.me-20 {
    margin-right: 78rem;
}

.page-name {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-shadow: #002349 2px 3px 4px;
}

.navigation-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 99%;
    font-size: larger;
}

.navbar .nav-link:hover {
    color: #ffc107;
    transition: font-size 2s ease-in-out;
    transform: scale(1.2);
}

.nav-link {
    text-shadow: none;
    color: #044726;
    background-color: transparent;
    border: none;
}
.nav-link.active {
    color: coral !important;
}
.nav-link:hover {
    color: #ffffff;
    background-color: #04472680;
}

.main {
    flex: 1 1 auto;
    /*min-width: 100%;*/
}

.main-work {
    flex: 1 1 auto;
    height: 400px;
}

.green {
    background-color: #89dda6;
    color: #00008b;
}

.yellow {
    background-color: #e3db72;
    color: #00008b;
}

.red {
    background-color: #e99a9a;
    color: #00008b;
}

.popup_div {
    display: flex;
    max-width: 400px;
    font-family: sans-serif;
    text-align: center;
    position: relative;
}

.popup_try {
    display: block; /* Это блоковый элемент */
    margin: 0 auto;
    appearance: none;
    border: 0;
    border-radius: 5px;
    background-color: #467a53;
    width: 130px;
    height: 5vh;
    color: #fcf6f6;
    padding: 10px;
    font-size: 16px;
    text-shadow: #002349 2px 3px 4px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    transition: .3s all; /* Плавный переход */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: gray;
    width: 3rem;
    height: 3rem;
    background-size: 50% 50%; /* Размер стрелки внутри кнопки */
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.3);
    border: 2px solid white;
}

/* Изменение цвета при наведении */
.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: #467a53;
}

.popup_try:hover {
    color: #ffc107;
    cursor: pointer;
}

.popup_try:focus {
    outline: 4px;
    box-shadow: 0 0 0 4px #467a53;
}

.popup_try_1_row:hover {
    color: #ffc107;
    cursor: pointer;
}

.popup_try_1_row:focus {
    outline: 4px;
    box-shadow: 0 0 0 4px #467a53;
}

.popup_form {
    display: block;
    width: min-content;
    align-items: center;
    justify-content: center;
    border-radius: 15px; /* Закругляем углы */
    background-color: #ffffff;
    border: 2px solid #467a53;
    padding: 28px;
    text-transform: uppercase;
    color: #fcf6f6; /* Цвет текста */
    font-size: 15px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: -999px;
    transition: 0.01s all linear; /* Плавный переход */
}

input::placeholder {
    font-size: 14px; /* Размер шрифта placeholder */
    color: gray; /* Цвет текста в placeholder */
    text-align: center;
}

.custom-file-upload {
    appearance: none;
    height: 30px;
    width: 9.4rem;
    border: 0 #467a53;
    box-shadow: 0 0 3px 1px #467a53;
    /*border-radius: 5px;*/
    background: #fcf6f6;
    color: gray;
    padding: 2px 5px;
    font-size: 14px;
    text-transform: initial;
}

input[type="file"] {
    display: none; /* Скрыть стандартный элемент input */
}

.db_table_border {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px solid #467a53;
    border-radius: 5px;
    box-shadow: 0 0 0 2px #467a53;
}

tr:nth-of-type(even) {
    background-color: #e4f5de;
}

tr:nth-of-type(odd) {
    background-color: #f8fafa;
}

.table-result-db {
    min-width: 90%;
}

.table-result-db table {
    table-layout: fixed;
    border: none;
}

.scroll-tbody {
    border: 0;
    height: min-content;
    overflow-y: auto;
    display: block;
}

::-webkit-scrollbar {
    width: 10px; /* Ширина скролл-бара */
}

/* Стиль для ползунка (thumb) */
::-webkit-scrollbar-thumb {
    background-color: #467a53; /* Цвет ползунка */
    /*border-radius: 6px; !* Закругление углов *!*/
    scroll-margin: 5px;

}

.db_table {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: max-content;
    border-spacing: 50px 5px;
}

.footer {
    background: #467a53;
    font-size: 16px;
    color: #fcf6f6;
    text-align: center;
    padding: 20px;
    text-shadow: #002349 2px 3px 4px;
}

button {
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #467a53;
    color: #fcf6f6;
    padding: 2px 5px;
    font-size: 12px;
    text-shadow: #002349 2px 3px 4px;
}

.button:hover {
    color: #ffc107;
    cursor: pointer;
}

.button:focus {
    outline: 4px;
    box-shadow: 0 0 0 4px #467a53;
}

.crud-btn {
    margin-top: 4px;
}

input[type="text"] {
    appearance: none;
    outline: none;
    font-family: inherit;
    font-size: 12px;
    line-height: inherit;
    align-items: center;
    margin: 4px 0;
    padding: 2px;
    box-shadow: 0 0 3px 1px #467a53;
    border: 0 #467a53;
    min-width: 19.5rem;
    height: 2rem;
}

input[type="password"] {
    appearance: none;
    outline: none;
    font-family: inherit;
    font-size: 12px;
    line-height: inherit;
    align-items: center;
    margin: 4px 0;
    padding: 2px;
    box-shadow: 0 0 3px 1px #467a53;
    border-radius: 5px;
    border: 0 #467a53;
    min-width: 19.5rem;
    height: 2rem;
}

.form-select-custom {
    appearance: none;
    outline: none;
    font-family: inherit;
    font-size: 12px;
    line-height: inherit;
    align-items: center;
    margin: 4px;
    padding: 2px;
    box-shadow: 0 0 3px 1px #467a53;
    /*border-radius: 5px;*/
    border: 0 #467a53;
    min-width: 19.5rem;
    height: 2rem;
    text-align: center;
}

.form-control {
    margin-bottom: 4px;
}

*, *:before, *:after {
    box-sizing: border-box;
}

/*****************
* Weather banner *
******************/

.weather-container {
    display: flex;
    justify-content: center;
    min-height: 21rem;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

.weather-widget-wrapper {
    width: 100%;
    max-width: 600px;
    min-height: 21rem;
    box-shadow: 0 0 2px 1px #467a53;
    text-shadow: 2px 2px 4px black;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .weather-container {
        min-height: 18rem;
    }
}

@media (max-width: 480px) {
    .weather-container {
        min-height: 15rem;
    }
}