<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="ru">

<head>
    <title>TOMATOES</title>
    <div th:replace="fragments/head :: head"></div>
</head>
<body>
<div class="wrapper d-flex justify-content-center" style="align-self: center">
    <header class="modal-header bg-success container row"
            style=" border-radius: 1rem;
            text-shadow: 2px 2px 4px black;
            align-self: center">

        <div class="col" th:replace="fragments/nav/navtomato :: navtomato"></div>

    </header>

    <main class="main d-flex row"
          style="align-content: baseline;
          background-image: url('../img/bg/bdfon_2.jpg');
          linear-gradient(rgba(255,255,255,1), rgba(255,255,255,1)),
          url('../img/bg/bdfon.jpg') no-repeat center/cover;
          background-repeat: no-repeat;
          background-size: cover;       /* Растягивает изображение чтобы покрыть весь элемент */
          background-position: center; /* Центрирует изображение */
          align-self: center;
          max-width: 80rem;
          border-radius: 1rem">

        <div th:replace="fragments/crud/crudtomato :: crudtomato"></div>

        <div class="table-result-db"
             style="justify-content: center;
             max-height: min-content">

            <table class="row"
                   style=" justify-content: center;
                   align-content: center;
                   height: 3rem;
                   table-layout: fixed">

                <tr class="text-light fs-7"
                    style="background-color: #198754">
                    <th class=" text-center align-self-center"
                        style="border-color: #198754;
                        width: 3rem;
                        text-shadow: 2px 2px 4px #07237a">
                        ID
                    </th>
                    <th class=" text-center align-self-center"
                        style="border-color: #198754;
                        width: 4rem;
                        text-shadow: 2px 2px 4px #07237a">
                        Тип
                    </th>
                    <th class=" text-center align-self-center"
                        style="border-color: #198754;
                        width: 7rem;
                        text-shadow: 2px 2px 4px #07237a">
                        Название
                    </th>
                    <th class=" text-center align-self-center"
                        style="border-color: #198754;
                        width: 3rem;
                        text-shadow: 2px 2px 4px #07237a">
                        h
                    </th>
                    <th class=" text-center align-self-center"
                        style="border-color: #198754;
                        width: 3rem;
                        text-shadow: 2px 2px 4px #07237a">
                        d
                    </th>
                    <th class="text-center align-self-center"
                        style="border-color: #198754;
                        width: 4rem;
                        text-shadow: 2px 2px 4px #07237a">
                        Вес
                    </th>
                    <th class=" text-center align-self-center"
                        style="border-color: #198754;
                        width: 3rem;
                        text-shadow: 2px 2px 4px #07237a">
                        Кашпо
                    </th>
                    <th class=" text-center align-self-center"
                        style="border-color: #198754;
                        width: 12rem;
                        text-shadow: 2px 2px 4px #07237a">
                        Агротехника
                    </th>
                    <th class=" text-center align-self-center"
                        style="border-color: #198754;
                        width: 18rem;
                        text-shadow: 2px 2px 4px #07237a">
                        Описание
                    </th>
                    <th class=" text-center align-self-center"
                        style="border-color: #198754;
                        width: 7rem;
                        text-shadow: 2px 2px 4px #07237a">
                        Вкус
                    </th>
                    <th class=" text-center align-self-center"
                        style="
                         border-color: #198754;
                         width: 10rem;
                         text-shadow: 2px 2px 4px #07237a">
                        Особенность
                    </th>
                    <th class=" text-center align-self-center"
                        style="border-color: #198754;
                        width: 7rem;
                        text-shadow: 2px 2px 4px #07237a">
                        Фото
                    </th>
                </tr>
            </table>

            <div class="scroll-tbody">
                <table class="col"
                       style="align-self: center;
                       font-size: small;
                       word-break: break-all;
                       overflow-wrap: anywhere;
                       white-space: normal">
                    <div th:each="element : ${tomatoesList}">
                        <div class="col">
                            <tr style="align-self: center">
                                <td class="p-2 m-2 text-center border border-1 border-dark"
                                    style="width: 3rem">
                                    <div>[[${element.idCount}]]</div>
                                </td>
                                <td class="p-2 m-2 text-center border border-1 border-dark"
                                    style="width: 4rem;
                                    word-break: break-all;
                                    overflow-wrap: anywhere;
                                    white-space: normal">
                                    <form action="/filtertomatoesbycategory" method="post">
                                        <input type="hidden" name="category" th:value="${element.category}"/>
                                        <button type="submit" class=""
                                                style="background: none;
                                                color: darkblue;
                                                border: none;
                                                cursor: pointer;
                                                text-shadow: none;
                                                word-break: break-word;">
                                            [[${element.category}]]
                                        </button>
                                    </form>
                                </td>
                                <td class="p-2 m-2 text-center border border-1 border-dark"
                                    style="width: 7rem">
                                    <div>[[${element.tomatoesName}]]</div>
                                </td>
                                <td class="p-2 m-2 text-center border border-1 border-dark"
                                    style="width: 3rem">
                                    <div>[[${element.tomatoesHeight}]]</div>
                                </td>
                                <td class="p-2 m-2 text-center border border-1 border-dark"
                                    style="width: 3rem">
                                    <div>[[${element.tomatoesDiameter}]]</div>
                                </td>
                                <td class="p-2 m-2 text-center border border-1 border-dark"
                                    style="width: 3rem">
                                    <div>[[${element.tomatoesFruit}]]</div>
                                </td>
                                <td class="p-2 m-2 text-center border border-1 border-dark"
                                    style="width: 4rem">
                                    <div>[[${element.tomatoesFlowerpot}]]</div>
                                </td>
                                <td class="p-2 m-2 text-center border border-1 border-dark"
                                    style="width: 12rem">
                                    <div>[[${element.tomatoesAgroTech}]]</div>
                                </td>
                                <td class="p-2 m-2 text-center border border-1 border-dark"
                                    style="width: 18rem">
                                    <div>[[${element.tomatoesDescription}]]</div>
                                </td>
                                <td class="p-2 m-2 text-center border border-1 border-dark"
                                    style="width: 4rem">
                                    <div>[[${element.tomatoesTaste}]]</div>
                                </td>
                                <td class="p-2 m-2 text-center border border-1 border-dark"
                                    style="width: 10rem">
                                    <div>[[${element.tomatoesSpecificity}]]</div>
                                </td>
<!--                                <td class="p-2 m-2 text-center border border-1 border-dark"-->
<!--                                    style="width: 7rem">-->
<!--                                    <div>[[${element.photos}]]</div>-->
<!--                                </td>-->

<!--                                -->
<!--                                <td class="p-2 m-2 text-center border border-1 border-dark"-->
<!--                                    style="width: 7rem">-->
<!--                                    <div th:if="${element.photos != null and !element.photos.empty}">-->
<!--                                        <div th:each="photo, iterStat : ${element.photos}"-->
<!--                                             style="margin-bottom: 5px;">-->

<!--                                            <div style="font-size: 0.7rem; word-break: break-all;">-->
<!--                                                <span th:text="${photo.name}"></span>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div th:unless="${element.photos != null and !element.photos.empty}">-->
<!--                                        No photos-->
<!--                                    </div>-->
<!--                                </td>-->


                                <td class="p-2 m-2 text-center border border-1 border-dark"
                                    style="width: 7rem">
                                    <div th:if="${element.photos != null and !element.photos.empty}"
                                         style="display: flex;
                                         flex-direction: column;
                                         gap: 5px;
                                         align-items: center;">
                                        <div th:each="photo, iterStat : ${element.photos}">
                                            <!-- Превью фото с возможностью скачивания -->
                                            <a th:href="@{/download/{id}(id=${element.id})/{iterStat}(iterStat=${photo.iterStat})}"
                                               th:title="${photo.photoId}"
                                               style="display: inline-block;">
<!--                                                <img th:src="'data:' + ${photo.contentType} + ';base64,' +-->
<!--                                                ${#arrays.toByteArray(photo.content)}"-->
<!--                                                     style="max-width: 60px;-->
<!--                                                     max-height: 60px;-->
<!--                                                     object-fit: contain;-->
<!--                                                     border: 1px solid #ddd;"-->
<!--                                                     alt="Photo thumbnail"/>-->
                                            </a>
                                            <div style="font-size: 0.6rem;
                                             margin-top: 2px;
                                             word-break: break-all;">
                                                <span th:text="${#strings.abbreviate(photo.name, 15)}"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div th:unless="${element.photos != null and !element.photos.empty}"
                                         style="color: #999; font-size: 0.8rem;">
                                        Нет фото
                                    </div>
                                </td>

                            </tr>
                        </div>
                    </div>
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

                </table>
            </div>
        </div>

    </main>
    <footer>
        <div th:replace="fragments/footermain :: footermain"></div>
    </footer>
</div>
</body>
</html>