<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="ru">

<head>
    <title>TOMATOES</title>
    <div th:replace="fragments/headers/head :: head"></div>
</head>
<body>
<div class="wrapper d-flex justify-content-center p-0 m-0"
     style="align-self: center">
    <header>
    <div class="p-0 m-0"
         th:replace="fragments/headers/headermain :: headermain"></div>
    </header>

    <main class="main d-flex row p-0 m-0"
          style="align-content: baseline;
          background-image: url('../img/bg/bdfon_2.jpg');
          linear-gradient(rgba(255,255,255,1), rgba(255,255,255,1)),
          url('../img/bg/bdfon.jpg')
          no-repeat center/cover;
          background-repeat: no-repeat;
          background-size: cover;       /* Растягивает изображение чтобы покрыть весь элемент */
          background-position: center; /* Центрирует изображение */
          align-self: center;
          max-width: 80rem;
          border-radius: 1rem">

        <div th:replace="fragments/crud/crudtomato :: crudtomato"></div>

        <div class="table-result-db m-0 p-0"
             style="justify-content: center;
             max-height: min-content">

            <table class="row"
                   style=" justify-content: center;
                   align-content: center;
                   height: 3rem;
                   table-layout: fixed">

                <tr class="text-light fs-7"
                    style="background-color: #467a53">
                    <th class=" text-center align-self-center"
                        style="border-color: #467a53;
                        width: 3rem;
                        text-shadow: 2px 2px 4px #07237a">
                        ID
                    </th>
                    <th class=" text-center align-self-center"
                        style="border-color: #467a53;
                        width: 3rem;
                        text-shadow: 2px 2px 4px #07237a">
                        Есть
                    </th>
                    <th class=" text-center align-self-center"
                        style="border-color: #467a53;
                        width: 4rem;
                        text-shadow: 2px 2px 4px #07237a">
                        Тип
                    </th>
                    <th class=" text-center align-self-center"
                        style="border-color: #467a53;
                        width: 7rem;
                        text-shadow: 2px 2px 4px #07237a">
                        Название
                    </th>
                    <th class=" text-center align-self-center"
                        style="border-color: #467a53;
                        width: 3rem;
                        text-shadow: 2px 2px 4px #07237a">
                        h
                    </th>
                    <th class=" text-center align-self-center"
                        style="border-color: #467a53;
                        width: 3rem;
                        text-shadow: 2px 2px 4px #07237a">
                        d
                    </th>
                    <th class="text-center align-self-center"
                        style="border-color: #467a53;
                        width: 3rem;
                        text-shadow: 2px 2px 4px #07237a">
                        Вес
                    </th>
                    <th class=" text-center align-self-center"
                        style="border-color: #467a53;
                        width: 3rem;
                        text-shadow: 2px 2px 4px #07237a">
                        Кашпо
                    </th>
                    <th class=" text-center align-self-center"
                        style="border-color: #467a53;
                        width: 11rem;
                        text-shadow: 2px 2px 4px #07237a">
                        Созревание
                    </th>
                    <th class=" text-center align-self-center"
                        style="border-color: #467a53;
                        width: 11rem;
                        text-shadow: 2px 2px 4px #07237a">
                        Описание
                    </th>
                    <th class=" text-center align-self-center"
                        style="border-color: #467a53;
                        width: 9rem;
                        text-shadow: 2px 2px 4px #07237a">
                        Вкус
                    </th>
                    <th class=" text-center align-self-center"
                        style="
                         border-color: #467a53;
                         width: 10rem;
                         text-shadow: 2px 2px 4px #07237a">
                        Особенность
                    </th>
                    <th class=" text-center align-self-center"
                        style="border-color: #198754;
                        width: 7rem;
                        text-shadow: 2px 2px 4px #07237a">
                        Фото
                    </th>
                </tr>
            </table>

            <div class="scroll-tbody">
                <table class="col"
                       style="align-self: center;
                       font-size: small;
                       word-break: break-all;
                       overflow-wrap: anywhere;
                       white-space: normal">
                    <div th:each="element : ${tomatoesList}">
                        <div class="col">
                            <tr style="align-self: center">
                                <td class="p-2 m-2 text-center border border-1 border-dark"
                                    style="width: 3rem">
                                    <div>[[${element.idCount}]]</div>
                                </td>
                                <td class="p-2 m-2 text-center border border-1 border-dark"
                                    style="width: 3rem">
                                    <div>[[${element.isPresent}]]</div>
                                </td>
                                <td class="p-2 m-2 text-center border border-1 border-dark"
                                    style="width: 4rem;
                                    word-break: break-all;
                                    overflow-wrap: anywhere;
                                    white-space: normal">
                                    <form action="/filtertomatoesbycategory" method="post">
                                        <input type="hidden" name="category" th:value="${element.category}"/>
                                        <button type="submit" class=""
                                                style="background: none;
                                                color: darkblue;
                                                border: none;
                                                cursor: pointer;
                                                text-shadow: none;
                                                word-break: break-word;">
                                            [[${element.category}]]
                                        </button>
                                    </form>
                                </td>
                                <td class="p-2 m-2 text-center border border-1 border-dark"
                                    style="width: 7rem">
                                    <div><strong>[[${element.tomatoesName}]]</strong></div>
                                </td>
                                <td class="p-2 m-2 text-center border border-1 border-dark"
                                    style="width: 3rem">
                                    <div>[[${element.tomatoesHeight}]]</div>
                                </td>
                                <td class="p-2 m-2 text-center border border-1 border-dark"
                                    style="width: 3rem">
                                    <div>[[${element.tomatoesDiameter}]]</div>
                                </td>
                                <td class="p-2 m-2 text-center border border-1 border-dark"
                                    style="width: 3rem">
                                    <div>[[${element.tomatoesFruit}]]</div>
                                </td>
                                <td class="p-2 m-2 text-center border border-1 border-dark"
                                    style="width: 3rem">
                                    <div>[[${element.tomatoesFlowerpot}]]</div>
                                </td>
                                <td class="p-2 m-2 text-center border border-1 border-dark"
                                    style="width: 11rem">
                                    <div>[[${element.tomatoesAgroTech}]]</div>
                                </td>
                                <td class="p-2 m-2 text-center border border-1 border-dark"
                                    style="width: 11rem">
                                    <div>[[${element.tomatoesDescription}]]</div>
                                </td>
                                <td class="p-2 m-2 text-center border border-1 border-dark"
                                    style="width: 10rem">
                                    <div>[[${element.tomatoesTaste}]]</div>
                                </td>
                                <td class="p-2 m-2 text-center border border-1 border-dark"
                                    style="width: 9rem">
                                    <div>[[${element.tomatoesSpecificity}]]</div>
                                </td>
                                <td class="p-2 m-2 text-center border border-1 border-dark"
                                    style="width: 7rem">
                                    <div th:each="photo : ${element.photos}">
                                        <div>
                                            <img th:src="@{'data:image/jpg;base64,'+${photo.getImageDataBase64()}}"
                                                 alt="images from database"
                                                 width="50%"
                                                 height="50%"/>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                        </div>
                    </div>
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

                </table>
            </div>
        </div>

    </main>
    <footer>
        <div th:replace="fragments/footermain :: footermain"></div>
    </footer>
</div>
</body>
</html>