<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="ru">
<head>
    <div th:replace="fragments/headers/head :: head"></div>
</head>

<div th:fragment="updatetomato">
    <label class="btn-crud d-flex fs-5 p-1 m-1 text-light text-center
    align-items-center justify-content-center">
        <strong>></strong>
        <button type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasupdatetomato"
                aria-controls="offcanvasupdatetomato"
                style="background-color: #467a53;
                color: white;
                height: 1px;
                width: 1px"
                hidden>
        </button>
    </label>

    <div class="card col offcanvas offcanvas-end border border-0"
         tabindex="-1"
         id="offcanvasupdatetomato"
         aria-labelledby="offcanvasRightUpdateTomatoLabel"
         style="width: 40vh">

        <div class="card-body d-grid gap-2 offcanvas-title bg-light"
             id="offcanvasRightUpdateTomatoLabel"
             style="min-height: 100vh;
             align-content: start">

            <form action="/updatetomato"
                  method="post"
                  autocomplete="off"
                  enctype="multipart/form-data"
                  class="card-text offcanvas-body align-self-start">
                <div align="center">
<!--                    <label>-->
<!--                        <input type="text"-->
<!--                               name="id"-->
<!--                               align="middle"-->
<!--                               placeholder="ID томата">-->
<!--                    </label>-->
                    <label class="d-flex justify-content-center align-items-center">
                        <select class="form-select-custom"
                                name="category">
                            <option value="0">Категория</option>
                            <option th:each="element : ${categoryList}"
                                    th:value="${element}"
                                    th:text="${element}"></option>
                        </select>
                    </label>
                    <label class="d-flex justify-content-center align-items-center">
                        <select class="form-select-custom" name="isPresent">
                            <option value="0">В наличии</option>
                            <option th:each="element : ${isPresentList}"
                                    th:text="${element}"></option>
                        </select>
                    </label>
                    <label>
                        <input type="text"
                               name="tomatoesName"
                               align="middle"
                               placeholder="Название томата"/>
                    </label>
                    <label>
                        <input type="text"
                               name="tomatoesHeight"
                               align="middle"
                               placeholder="Высота томата"/>
                    </label>
                    <label>
                        <input type="text"
                               name="tomatoesDiameter"
                               align="middle"
                               placeholder="Диаметр куста"/>
                    </label>
                    <label>
                        <input type="text"
                               name="tomatoesFruit"
                               align="middle"
                               placeholder="Вес плода"/>
                    </label>
                    <label>
                        <input type="text"
                               name="tomatoesFlowerpot"
                               align="middle"
                               placeholder="Выращивание"/>
                    </label>
                    <label for="tomatoesAgroTech">
                        <strong>Созревание</strong>
                    </label>
                    <textarea class="form-control"
                              name="tomatoesAgroTech"
                              id="tomatoesAgroTech"
                              rows="3"
                              style="border: 1px solid #467a53;
                              box-shadow: 0 0 0 1px #bcd3e9;">
                    </textarea>
                    <label for="tomatoesDescription">
                        <strong>Описание</strong>
                    </label>
                    <textarea class="form-control"
                              name="tomatoesDescription"
                              id="tomatoesDescription"
                              rows="3"
                              style="border: 1px solid #467a53;
                              box-shadow: 0 0 0 1px #bcd3e9;">
                    </textarea>
                    <label>
                        <input type="text"
                               name="tomatoesTaste"
                               align="middle"
                               placeholder="Вкус томата"/>
                    </label>
                    <label for="tomatoesSpecificity">
                        <strong>Особенности(необязательно)</strong>
                    </label>
                    <textarea class="form-control"
                              name="tomatoesSpecificity"
                              id="tomatoesSpecificity"
                              rows="3"
                              style="border: 1px solid #467a53;
                              box-shadow: 0 0 0 1px #bcd3e9;">
                    </textarea>
                    <label>
                        <input type="text"
                               name="tomatoesPrice"
                               align="middle"
                               placeholder="Цена"/>
                    </label>
                    <label class="d-flex justify-content-center align-items-center button custom-file-upload"
                           style="margin: 4px 0;
                           width: 19.5rem;
                           min-height: 4rem;
                           background-color: #467a53;
                           color: white;
                           text-shadow: #002349 2px 3px 4px;
                           font-size: large">
                        Выбрать фото
                        <input type="file"
                               name="content"
                               multiple
                               align="middle"
                               placeholder="Фото"/>
                    </label>
                </div>
                <div align="center">
                    <button class="btn text-light crud-btn"
                            type="submit"
                            style="justify-self: center;
                            background-color: #467a53;
                            min-width: max-content;
                            max-height: min-content;
                            align-self: center;
                            box-shadow: 2px 2px 4px black;
                            text-shadow: #002349 2px 3px 4px;">
                        Обновить
                    </button>
                </div>
                <input type="hidden"
                       name="${_csrf.parameterName}"
                       value="${_csrf.token}">
            </form>
        </div>
    </div>
</div>
</html>

